_asset_bundler_cache
_site/*
!_site/generated
.idea
.bundle
.DS_Store
.jekyll-cache
.jekyll-metadata
.sass-cache
*.gem
*.sublime-project
*.sublime-workspace
codekit-config.json
Gemfile.lock
node_modules
npm-debug.log*
*.(Original).mp4
