/* ==========================================================================
   Alignment
   ========================================================================== */

.align-baseline {
  vertical-align: baseline !important;
} /* Browser default */
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}

/*
   Image Alignment
   ========================================================================== */

.align-center,
div.align-center,
a img.align-center,
p.align-center>a>img, 
p.align-center>img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

figure.align-center {
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  figcaption {
    text-align: center;
  }
}

.align-right,
a img.align-right {
  margin-bottom: 1rem;
  margin-left: 1rem;
  float: right;
}

.align-left,
a img.align-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
}

.max-width-30{
  max-width: 200px;
}

.max-width-50{
  max-width: 500px;
}

.max-width-100{
  max-width: 100%;
}

.align-grid{
  display:grid; 
  grid-template-columns: 
  repeat(auto-fill, minmax(325px, 1fr)); 
  grid-column-gap: 1em;
}

.align-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.align-flex>*{
  margin-left:1em;
}