{% if include.icon == "home" %}
{{ site.data.icons.home }}
{% elsif include.icon == "resume" %}
{{ site.data.icons.resume }}
{% elsif include.icon == "unreal" %}
{{ site.data.icons.unreal }}
{% elsif include.icon == "portfolio" %}
{{ site.data.icons.portfolio }}
{% elsif include.icon == "twitter" %}
{{ site.data.icons.twitter }}
{% elsif include.icon == "twitter-square" %}
{{ site.data.icons.twitter-square }}
{% elsif include.icon == "linkedin" %}
{{ site.data.icons.linkedin }}
{% elsif include.icon == "linkedin-square" %}
{{ site.data.icons.linkedin-square }}
{% elsif include.icon == "mastodon" %}
{{ site.data.icons.mastodon }}
{% elsif include.icon == "mastodon-square" %}
{{ site.data.icons.mastodon-square }}
{% elsif include.icon == "github" %}
{{ site.data.icons.github }}
{% elsif include.icon == "github-square" %}
{{ site.data.icons.github-square }}
{% elsif include.icon == "rss" %}
{{ site.data.icons.rss }}
{% elsif include.icon == "chevron" %}
{{ site.data.icons.chevron }}
{% endif %}