<figure class="{{ include.class }}">
    {% if include.link and include.link != '' %}
        <a href="{{ include.link }}">
    {% endif %}
        {% if include.responsive == false %}
            <img src="{{ include.url }}" alt="{{ include.caption }}">
        {% else %}
            {% assign url = include.url | replace: "%20", "\ " %}
            {% assign url = url | replace: "./", page.url %}
            {% picture 
                lazy
                "{{ url }}"
                 --alt '{{ include.caption }}' %}
        {% endif %}
    {% if include.link and include.link != '' %}
        </a>
    {% endif %}
    {% if include.caption and include.caption != '' %}
    <figcaption>{{include.caption | markdownify}}</figcaption>
    {% endif %}
</figure> 