{% if page.image %}
  {% assign page_image = page.image.path | default: page.image %}
  {% unless page_image contains '://' %}
    {% assign page_image = page_image | relative_url %}
  {% endunless %}
  {% assign page_image = page_image | escape %}

  <div class="page-image">
    {% if page.image.responsive %}
      {% picture lazy "{{ page_image }}" --img class="entry-feature-image u-photo" --alt "{{ page.title }}" %}
    {% else %}
      <img src="{{ page_image }}" class="entry-feature-image u-photo" alt="{{ page.title }}">
    {% endif %}
    {% if page.image.caption %}
      <div class="page-image-caption">{{ page.image.caption | markdownify }}</div>
    {% endif %}
  </div>
{% endif %}
