{% if page.image.header %}
  {% assign page_image = page.image.header %}
  {% unless page_image contains '://' %}
    {% assign page_image = page_image | relative_url %}
  {% endunless %}
  {% assign page_image = page_image | escape %}

  <div class="page-image">
    {% if page.image.video and page.image.video != "" %}
        {% include video.html url=page.image.video controls=false class="entry-feature-image u-photo" %}
    {% else %}
      {% if page.image.responsive %}
        {% picture lazy "{{ page_image }}" --img class="entry-feature-image u-photo" --alt "{{ page.title }}" %}
      {% else %}
        <img src="{{ page_image }}" class="entry-feature-image u-photo" alt="{{ page.title }}">
      {% endif %}
    {% endif %}
    {% if page.image.caption %}
      <div class="page-image-caption">{{ page.image.caption | markdownify }}</div>
    {% endif %}
  </div>
{% endif %}
