{% assign src = include.url %}
{% if include.video and include.video != "" %}
    {% assign src = include.video %}
{% endif %}

{% assign width = "100%" %}
{% if include.width and include.width != "" %}
    {% assign width = include.width %}
{% endif %}

{% unless include.controls and include.controls == false %}
    {% assign controls = "controls" %}
{% endunless %}

{% unless include.autoplay and include.autoplay == false %}
    {% assign autoplay = "autoplay" %}
{% endunless %}

{% unless include.loop and include.loop == false %}
    {% assign loop = "loop" %}
{% endunless %}

{% unless include.muted and include.muted == false %}
    {% assign muted = "muted" %}
{% endunless %}

<video width="{{width}}" {{loop}} {{autoplay}} {{controls}} {{muted}}>
    <source src="{{src}}" type="video/mp4">
</video>