/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-family: $sans-serif-font-family;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: $border-radius;
  cursor: pointer;

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* disabled */
  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* extra large button */
  &--x-large {
    font-size: 2rem;
  }

  /* large button */
  &--large {
    font-size: 1.5rem;
  }

  /* small button */
  &--small {
    font-size: 0.75rem;
  }
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 4px;
  border: none;
  text-align: left;
  outline: none;
  background-color: rgba(255,255,255,.1);
  margin-bottom:2em;
}

.collapsible:before {
  color: currentColor;
  content: '▼';
  position: relative;
  vertical-align: middle;
  padding:8px;
  font-size: 2rem;
  display:inline-block;
  transform: rotate(-90deg);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible.active, .collapsible:hover {
  background-color: rgba(255, 255, 255, 0.30);
}

.collapsible.active {
  margin-bottom: 0px;
}

.collapsible.active:before {
    transform: rotate(0deg);
}

/* Style the collapsible content. Note: hidden by default */
.collapsed-content {
  padding: 8px 12px;
  margin-top: 0px;
  display: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.10);
  opacity:0;
}

.collapsed-content.active {
  display: block;
  overflow: hidden;
  opacity:1;
  transition-duration: 200ms;
}