/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */

.entry {
  @include clearfix();
  position: relative;

  a {
    color: inherit;
  }

  box-shadow:  0px 0px 15px black, 1px 1px 5px black;
  background-color: rgba(255,255,255,.1);

  border-radius: 8px;
  
  padding: 10px;

  height: fit-content;
}

.entry-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  overflow:hidden;
}

.entry-title {
  margin-bottom: 0.5rem;
  font-family: $title-font-family;
  font-weight: $entry-title-weight;
  font-style: italic;
  letter-spacing: -1px;
  word-wrap: break-word; /* break long words that could overflow */
  position: absolute;
  display: inline-block;
  padding: .5em .25em;
  a {
    text-decoration: none;
  }
  text-shadow: 1px 1px 15px black, 
  1px 1px 20px black, 
  0px 0px 5px black, 
  0px 0px 5px black;
  color: inherit;

  a[rel="bookmark"]::before {
    content: '';
    display:block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.entry-image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  margin-bottom: 0.2rem;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  box-shadow: none;
}

.entry-meta {
  .entry-date,
  .read-time {
    font-family: $meta-font-family;
    font-style: italic;
    white-space: nowrap;
  }

  .read-time + .entry-date::before {
    content: "\2022";
    padding: 0px 5px;
  }
}

.entry-excerpt {
  //padding: 5px;
  blockquote {
    border-radius: 0px 0px 5px 5px;
  }
}

.entry-excerpt a,
.u-bookmark-of {
  position: relative;
  z-index: 10;
}

/*
   Entries List Layout
   ========================================================================== */

.entries-list {
  .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 24px, 36px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .entry-excerpt,
  .entry-content {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1rem;
    }
  }

  .entry-meta {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 1em;
    font-size: 0.75rem;
  }

  .more-link {
    margin-top: -1em;

    a {
      text-decoration: none;
    }
  }
}

/*
   Entries Grid Layout
   ========================================================================== */

.entries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap:2em;
  grid-auto-rows: 500px;
  opacity: 0%;
  transition: opacity 300ms;

  .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 18px, 24px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .entry-excerpt,
  .entry-content {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1rem;
    }
  }

  .entry-meta {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 1em;
    font-size: 0.75rem;
  }

  .more-link {
    margin-top: -1em;

    a {
      text-decoration: none;
    }
  }
}



// Masonry
.entries-grid-colcade {
  //display: grid;
  transition: 1000ms;
  opacity: 0;

  .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1em;
    margin-right: 1em;
    padding:5px;
  }

  .entry-col
  {
    float: left;
  }

  .entry-col--1{
    display:hidden;
  }

  .entry-col--2>.entry
  {
    margin-right: 0em;
  }

  @include breakpoint($medium)
  {
    .entry-col{
      width: 50%;
    }

    .entry-col--1{
      display:block;
    }
  }


  .entry-title {
    @include fluid-type($min-vw, $max-vw, 18px, 24px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .entry-excerpt,
  .entry-content {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1rem;
    }
  }

  .entry-meta {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 1em;
    font-size: 0.75rem;
  }

  .more-link {
    margin-top: -1em;

    a {
      text-decoration: none;
    }
  }
}